// Mobile
@media only screen and (max-width: 600px) {
    // Navbar
    #menu-wrapper {
        flex-direction: column;

        .left-nav {
            margin-left: 10% !important;
        }

        .right-nav {
            margin-top: 1rem;
            text-align: center;

            #dropdown {
                width: 5rem !important;
            }
        }
    }

    // Footer 
    #footer {
        p {
            font-size: 1rem !important;
        }
    }

    // Home page
    #header-image {
        .block-text {
            top: 60% !important;
            .heading {
                font-size: 3.5rem !important;   
            }
            p {
                font-size: 1.5rem !important;
            }  
        }
    }

    #latest-post {
        #post {
            flex-direction: column;
            justify-content: center;
            text-align: center;

            div img {
                margin: 0 22% !important;
                height: 7rem !important;
                width: 10rem !important;
            }

            h2 {
                font-size: 1.3rem !important;
            }
            
            div span {
                display: none;
            }

            p {
                font-size: 1rem !important;
            }

            a {
                margin: auto;
            }
        }
    }

    .container {
        margin-top: 12rem;
    }

    p {
        text-align: justify;
    }

    //About & Contact
    #about,
    #contact,
    #blog {
        h1 {
            font-size: 2.2rem;
        }

        h2 {
            font-size: 1.8rem;
        }
        p {
            font-size: 1.2rem !important;
        }
    }

    // Blog 
    #blog {
        .blog-post {
            flex-direction: column;
            justify-content: center;
            text-align: center;

            div img {
                margin: 0 22%;
                height: 7rem !important;
                width: 10rem !important;
            }

            .author {
                text-align: left;
                margin-top: 10px;
            }

            h2 {
                font-size: 1.3rem !important;
            }

            p {
                font-size: 1rem !important;
            }

            a {
                margin: auto;
            }    
        }
    }

    .create {
        margin-top: 0.5rem;
        margin-left: 75% !important;
    }

    .comment {
        flex-direction: column;
        justify-content: space-between;
        width: 100% !important;

        div:first-child {
            height: 10rem !important;
            margin-top: 2rem;
            margin-bottom: 5rem;

            img {
                left: 35% !important;  
            }
        }

        p {
            font-size: 1.2rem !important;
            padding: 0 1rem;
        }
    }

    .form,
    .login-form,
    .register-form,
    #editForm {
        width: 100%;

        input,
        .select2 {
            width: 100% !important;
        }

        input[type='submit'] {
            margin-top: 1rem !important;
            height: 2.5rem;
            width: 5rem !important;
        }
    }

    #viewModal {
        #modal-content {
            position: fixed;
            width: 100vw;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); 
        }   
    }

    // Admin
    #admin-sidebar {
        width: 6rem !important;
        padding-top: 35px !important;

        a {
            font-size: 1.2rem !important;
            padding: 1rem 0.5rem !important;
        }
    }

    #main {
        margin-top: 10rem !important;
        margin-left: 6rem !important;

        h1 {
            text-align: center;
        }
    }

    #statistics {
        flex-direction: column;
        justify-content: center;

        .blog-statistic {
            width: 12rem;
            margin: auto;
        }

        h2 {
            font-size: 1.5rem !important;
        }
        p {
            text-align: center;
            font-size: 1.2rem !important;    
        }
    }

    #table {
        margin: 0 1rem;
        overflow: scroll;
        tr {
            td {
                height: 5rem;

                img {
                    width: 50px;
                }

                .btn:first-child {
                    margin-bottom: 0.8rem !important;
                }

                button {
                    width: 4rem !important;
                    font-size: 0.8rem !important;
                    height: 2rem !important;
                    text-align: center;    
                }
            }
            
            td:last-child {
                padding: 3rem 0 ;
            }

            .post-buttons,
            .comment-buttons {
                padding-top: 5rem !important;
            }
        }
    }
}

// Small and medium devices
@media only screen and (min-width: 600px) and (max-width: 970px) {
    // Navbar
    #navbar {
        padding-left: 0 !important;

        .navbar-brand {
            margin: auto 1rem !important;
        }
    }
    #menu-wrapper {
        .left-nav {
            margin-left: 0 !important;
        }
        .right-nav {
            width: 30% !important;
            margin-left: 4rem;
            padding-right: 3rem;
        }
    }

    // Home page
    .block-text {
        top: 60% !important;
        .heading {
            font-size: 4rem !important;   
        }
    }

    #latest-post {
        #post {
            flex-direction: column;
            justify-content: center;
            text-align: center;

            div img {
                margin: 0 22% !important;
                height: 10rem !important;
                width: 13rem !important;
            }

            div:last-child {
                padding-bottom: 1rem !important;
            }

            h2 {
                font-size: 1.4rem !important;
            }
            
            div span {
                display: none;
            }

            p {
                font-size: 1.2rem !important;
            }

            a {
                margin: auto;
            }
        }
    }

    .container {
        padding: 0 !important;
    }

    // Blog
    #blog {
        .blog-post {
            flex-direction: column;
            justify-content: center;
            text-align: center;

            div img {
                margin: 0 22%;
                height: 12rem !important;
                width: 15rem !important;
            }

            .author {
                text-align: left;
                margin-top: 10px;
            }

            h2 {
                font-size: 1.5rem !important;
            }

            p {
                font-size: 1.2rem !important;
            }

            a {
                margin: auto;
            }    
        }
    }

    .create {
        margin-top: 0.5rem;
        margin-left: 75% !important;
    }

    .form,
    .login-form,
    .register-form,
    #editForm {
        width: 100% !important;
    }

    // Admin
    #admin-sidebar{
        width: 6.5rem !important;
        a {
            padding: 1rem 0.5rem !important;
            font-size: 20px !important;
        }
    }

    #table {
        img {
            width: 50px !important;
        }

        button {
            width: 4rem !important;
            font-size: 0.8rem !important;
        }
    }
}
