@import 'config';
@import 'utilities';
@import 'form';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 'Oswald', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background: #fff;
    color: #333;
}

.navbar {
    width: 100%;
    position: fixed;
    font-family: 'Lato';
    top: 0;
    border-bottom: solid 1px $primary-color;
    padding: 0.7rem 2rem;
    display: flex;
    z-index: 1;

    .navbar-brand {
        font-size: 1.5rem;
        margin: auto;
        color: $light-color;
        text-decoration: none;
    }

    ul {
        display: flex;

        li {
            list-style: none;
            margin: auto 0.5rem;

            a {
                color: $light-color;
                text-decoration: none;

                &:hover {
                    color: darken($light-color, 20%);
                } 
            }
        }
    }

    .left-nav {
        margin-left: 1rem;
        justify-content: left;
        width: 30%;
    }

    .right-nav {
        justify-content: right;
        width: 57%;

        .username-div {
            position: relative;
            margin-top: auto;
            margin-left: 80%;
            display: flex;

            #avatar {
                height: 45px;
                width: 45px;
                border-radius: 50%;
                margin: auto 0;
            }

            #username {
                display: inline-block;
                color: $light-color;
                background: $black-color;
                margin: auto 0.3rem;
            }

            a {
                text-decoration: none;
                color: $light-color;
            }

            #dropdown {
                display: none;
                top: 80%;
                position: absolute;
                width: 100%;
                background: lighten($black-color, 5%);
                text-align: center;

                div {
                    padding: 0.2rem;
                }

                div:hover {
                    cursor: pointer;
                    background: lighten($black-color, 10%);
                }
            }
        }
    }
}

.background-image {
    position: relative;
    background-image: url('/img/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;

    .block-text {
        position: absolute;
        top: 50%;
        left: 25%;
        color: darken($primary-color, 15%);
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .heading {
            font-size: 5rem;   
        }  
    }

}

// About
.about-background {
    height: 500px;
    background-size: cover;
	background-color: #1c120c;
	background-attachment:fixed;
	position:relative;
	overflow:hidden;

    &-1 {
        background: url('/img/about-background-1.jpg') no-repeat center fixed;
    }

    &-2 {
        background: url('/img/about-background-2.jpg') no-repeat center fixed;
    }
}

// Blog
#category {
    font-size: 1.2rem;
}

.blog-post {
    display: flex;

    div img {
        height: 15rem;
        width: 25rem;
    }

    div a {
        width: 105px;
    }
}

.post-image {
    width: 100%;
    height: auto;

    img {
        width: 100%;
        height: auto;
    }
}

.create {
    width: 10%;
    margin-left: 90%;
}

.user-auth-btns {
    display: flex;
    justify-content: space-around;

    a, button {
        height: 2.5rem;
    }
}

//Comments
.comment {
    width: 80%;
    border: 1px solid lightgray;
    margin: 1rem auto;
    margin-bottom: 2rem;
    display: flex;

    div:first-child {
        flex: 1;
        position: relative;

        img {
            display: inline-block;
            position: absolute;
            top: 30%;
            left: 40%; 
            width: 60px;
            height: auto;
        }
    }
    div:last-child {
        flex: 3;
        padding: 1rem 1rem 1rem 0;

        .comment-title {
            text-align: center;
            font-size: 1.6rem;
            margin-bottom: 0.5rem;
        }
        
        .comment-text {
            font-size: 1.4rem;
        }

        div {
            width: 100%;
            display: flex;
            justify-content: space-around;

            #like-btn {
                border: none;
                color: $success-color;
                font-size: 1.2rem;
                margin-left: 1rem;
                transition: 0.5s;

                &:hover {
                    color: lighten($success-color, 10%);
                    cursor: pointer;
                }
            }
            
            #dislike-btn {
                border: none;
                color: $danger-color;
                font-size: 1.2rem;
                margin-left: 1rem;
                transition: 0.5s;

                &:hover {
                    color: lighten($danger-color, 10%);
                    cursor: pointer;
                }
            }

            #edit-btn {
                border: none;
                color: $primary-color;
                text-decoration: none;
                font-size: 1.2rem;
                margin-left: 1rem;
                transition: 0.5s;

                &:hover {
                    color: lighten($primary-color, 10%);
                    cursor: pointer;
                }
            }

            #delete-btn {
                border: none;
                color: $danger-color;
                font-size: 1.2rem;
                margin-left: 1rem;
                transition: 0.5s;

                &:hover {
                    color: lighten($danger-color, 10%);
                    cursor: pointer;
                }
            }
        }
    }
}

// Admin
#admin-sidebar {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 0;
    top: 10%;
    left: 0;
    background: darken($primary-color, 20%);
    overflow-x: hidden;
    padding-top: 20px;

    a {
        padding: 1rem 3rem;
        text-decoration: none;
        font-size: 25px;
        color: $light-color;
        display: block;

        &:first-child {
            border-bottom: 1px solid black;
            padding-bottom: 1.8rem;
        }

        &:hover {
            color: darken($light-color, 10%);
        }
    }
}

#main {
    width: 80%;
    margin-top: 7%;
    margin-left: 17%;
}

#statistics {
    display: flex;
    flex-wrap: wrap;
}

.blog-statistic {
    flex-basis: 31%;
    background: $primary-color;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    margin-left: 1rem;

    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1.5rem;
    }
}

#posts-table {
    width: 100%;
    border: 2px solid $black-color;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid $black-color;
        border-top: 1px solid $black-color;

        td {
            padding: 1rem 1rem;
        }

        img {
            width: 100px;
        }
        
        p {
            text-align: center;
        }
        
        td {
            text-align: center;
        }

        td:last-child {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .btn:first-child {
                margin: 0.8rem;
            }
        }

        .btn {
            width: 5rem;
            margin-bottom: 0.5rem;
        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#modal-content {
    background-color: $light-color;
    margin: 15% auto;
    border: 1px solid $black-color;
    width: 80%;
    
    #modal-header {
        padding: 0.5rem auto;
        background-color: $primary-color;
        color: white;
        text-align: center;

        h2 {
            font-size: 2rem;
        }
    }

    #modal-body {
        padding: 1rem;

        #post-image {
            display: block;
            margin: 0 auto;
        }
        #post-body {
            margin: 1rem 0;
        }
        form {
            width: 100%;

            input {
                margin: 0 auto;
            }
        }
    }
}

#close {
    color: rgb(114, 111, 111);
    float: right;
    margin-right: 10px;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}

// Pagination
.pagination {
    display: flex;
    flex-direction: row;
    margin-left: 35%;

    .page-item {
        list-style: none;
        border: 1px solid black;
        border-left: none;
        padding: 0.5rem;
        width: 2rem;
        text-align: center;
        font-family: 'Oswald';

        a {
            text-decoration: none;
        }
    }

    .page-item:first-child {
        border-left: 1px solid black;
    }

    .disabled {
        pointer-events: none;
        cursor: default;
        color: black;
    }

    .active {
        pointer-events: none;
        cursor: default;
        color: $danger-color;
    }
}
