@import 'config';
@import 'utilities';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 'Oswald', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background: #fff;
    color: #333;
}

.navbar {
    width: 100%;
    position: fixed;
    font-family: 'Lato';
    top: 0;
    border-bottom: solid 1px $primary-color;
    padding: 0.7rem 2rem;
    display: flex;

    .navbar-brand {
        font-size: 1.5rem;
        color: $light-color;
        text-decoration: none;
    }

    ul {
        display: flex;

        li {
            list-style: none;
            margin: auto 0.5rem;

            a {
                color: $light-color;
                text-decoration: none;

                &:hover {
                    color: darken($light-color, 20%);
                } 
            }
        }
    }

    ul.left-nav {
        margin-left: 1rem;
        justify-content: left;
        width: 30%;
    }

    ul.right-nav {
        justify-content: right;
        width: 57%;
    }
}
