@import 'config';
@import 'utilities';
@import 'form';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 'Oswald', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background: #fff;
    color: #333;
}

.navbar {
    width: 100%;
    position: fixed;
    font-family: 'Lato';
    top: 0;
    border-bottom: solid 1px $primary-color;
    padding: 0.7rem 2rem;
    display: flex;
    z-index: 1;

    .navbar-brand {
        font-size: 1.5rem;
        margin: auto;
        color: $light-color;
        text-decoration: none;
    }

    ul {
        display: flex;

        li {
            list-style: none;
            margin: auto 0.5rem;

            a {
                color: $light-color;
                text-decoration: none;

                &:hover {
                    color: darken($light-color, 20%);
                } 
            }
        }
    }

    .left-nav {
        margin-left: 1rem;
        justify-content: left;
        width: 30%;
    }

    .right-nav {
        justify-content: right;
        width: 57%;

        .username-div {
            position: relative;
            margin-top: auto;
            margin-left: 80%;
            display: flex;

            #avatar {
                height: 45px;
                width: 45px;
                border-radius: 50%;
                margin: auto 0;
            }

            #username {
                display: inline-block;
                color: $light-color;
                background: $black-color;
                margin: auto 0.3rem;
            }

            #dropdown {
                display: none;
                position: absolute;
                width: 100%;
                background: lighten($black-color, 5%);
                text-align: center;

                div {
                    padding: 0.2rem;
                }

                div:hover {
                    cursor: pointer;
                    background: lighten($black-color, 10%);
                }
            }
        }
    }
}

.background-image {
    position: relative;
    background-image: url('/img/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;

    .block-text {
        position: absolute;
        top: 50%;
        left: 25%;
        color: darken($primary-color, 15%);
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .heading {
            font-size: 5rem;   
        }  
    }

}

// About
.about-background {
    height: 500px;
    background-size: cover;
	background-color: #1c120c;
	background-attachment:fixed;
	position:relative;
	overflow:hidden;

    &-1 {
        background: url('/img/about-background-1.jpg') no-repeat center fixed;
    }

    &-2 {
        background: url('/img/about-background-2.jpg') no-repeat center fixed;
    }
}

// Blog
.blog-post {
    display: flex;

    div img {
        height: 15rem;
        width: 25rem;
    }

    div a {
        width: 105px;
    }
}

.post-image {
    width: 100%;

    img {
        width: 100%;
        height: auto;
    }
}

.create {
    width: 10%;
    margin-left: 90%;
}

// Pagination
.pagination {
    display: flex;
    flex-direction: row;
    margin-left: 35%;

    .page-item {
        list-style: none;
        border: 1px solid black;
        border-left: none;
        padding: 0.5rem;
        width: 2rem;
        text-align: center;
        font-family: 'Oswald';

        a {
            text-decoration: none;
        }
    }

    .page-item:first-child {
        border-left: 1px solid black;
    }

    .disabled {
        pointer-events: none;
        cursor: default;
        color: black;
    }

    .active {
        pointer-events: none;
        cursor: default;
        color: $danger-color;
    }
}
